* {
  box-sizing: border-box;
}
body {
  background-color: rgb(207, 228, 220);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.container {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  align-items: center;
}
.numbers {
  font-weight: 700;
  font-size: 30px;
}
.sign {
  font-weight: 700;
  font-size: 30px;
  margin: 0 5px 0 5px;
}
.minus-padding-bottom {
  padding-bottom: 6px;
  padding-right: 3.55px;
  padding-left: 3.55px;
}
.type {
  width: 18;
}
.form__result {
  text-align: center;
  text-justify: center;
  font-weight: 600;
  font-size: 25px;
  padding: 5px;
  border: 0;
  border-radius: 3px;
  outline: 0;
  height: 35px;
  width: 60px;
}
.change-btn {
  position: absolute;
  top: 20px;
  border: 0;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(245, 207, 85);
  box-shadow: 2px 1px 3px rgb(0 0 0 / 30%);
  width: 150px;
}
.change-btn:hover {
  cursor: pointer;
  background-color: rgb(229, 255, 0);
}
.change-btn-subtraction {
  position: absolute;
  top: 60px;
  border: 0;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(245, 207, 85);
  box-shadow: 2px 1px 3px rgb(0 0 0 / 30%);
  width: 150px;
}
.change-btn-subtraction:hover {
  cursor: pointer;
  background-color: rgb(229, 255, 0);
}
